<%= form_with(model: man, local: true) do |form| %>
  <% if man.errors.any? %><div id="error_explanation">
    <h2><%= pluralize(man.errors.count, "error") %> prohibited this man from being saved:</h2>
    <ul><% man.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %></ul>
  </div><% end %>
  <div class="field"><%= form.label :name %><%= form.text_field :name, id: :man_name %></div>
  <p>Список животных</p>
  <% Animal.all.each do |one_animal| %>
    <!--check_box_tag(name, value = "1", checked = false, options = {}) -->
    <%= check_box_tag("animal_ids[]" , one_animal.id, @old_list.include?(one_animal.id) )%>
    <%= one_animal.view %>
    <br>
  <% end %>
  <div class="actions"><%= form.submit %></div>
<% end %>
