<p id="notice"><%= notice %></p>
<p><strong>Man:</strong><%= @man_with_animal.man %></p>
<p><strong>Animal:</strong><%= @man_with_animal.animal %></p>
<%= link_to 'Edit', edit_man_with_animal_path(@man_with_animal) %>
<%= link_to 'Back', man_with_animals_path %>
